# Dependencies
node_modules/

# Build output
dist/
build/
coverage/
generated/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.turbo/
.eslintcache

# Vite
vite.svg

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

.idea/

# OS
.DS_Store
Thumbs.db
